* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: gray;
}
.header {
  font-size: 3rem;
  display: flex;
  min-height: 100px;
  justify-content: center;
  align-items: center;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 100px);
  max-width: 992px;
  margin: 0 auto;
}
.carousel {
  position: relative;
  height: 100px;
  background-color: #fff;
  display: flex;
  overflow: hidden;
  max-width: 100%;
}
.carousel::before,
.carousel::after {
  position: absolute;
  content: "";
  width: 200px;
  height: 100%;
  top: 0;
  z-index: 1;
}
.carousel::before {
  left: 0;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}
.carousel::after {
  right: 0;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 1) 100%
  );
}

.carousel_slide {
  height: inherit;
  display: flex;
  align-items: center;
  animation: slideshow 30s linear infinite;
}
.carousel_image {
  max-height: calc(100% - 40px);
  margin: 0 40px;
}
@keyframes slideshow {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
